@font-face {
  font-family: 'HelveticaNeue';
  src: url('../static/fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('../static/fonts/HelveticaNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --main-color: #632ca6;
}

svg {
  height: 500px;
  width: 500px;
}

body {
  margin: 0;
  background: #f4f5f6;
  color: #000;
  font-family: 'HelveticaNeue';
}

h1 {
  font-size: 35px;
  font-family: 'HelveticaNeueBold';
  display: inline-block;
  margin: 0 10px 0 0;
}

.user {
  font-size: 18px;
  margin-right: 30px;
}

h3 {
  margin: 0 0 23px;
  font-family: 'HelveticaNeueBold';
}

ul {
  padding: 0;
}

.host-top-apps {
  background: #fff;
  padding: 30px;
  font-size: 16px;
  margin: 0 30px 30px 0;
  box-sizing: border-box;
  flex-basis: 375px;
  min-width: 375px;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  color: #4a4a4a;
  list-style-type: none;
  display: table;
  cursor: pointer;
}

#toggle {
  display: inline-block;
  position: relative;
}

input {
  margin: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: -2px;
  cursor: pointer;
}

label {
  margin-left: 25px;
  cursor: pointer;
}

#page {
  padding: 30px;
}

#header {
  margin-bottom: 30px; 
}

.apdex {
  opacity: 62%;
  font-size: 13px;
  display: table-cell;
  width: 22px;
  padding-right: 20px;
}